{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "linebreak-style": 0,
    "import/prefer-default-export": 0
  }
}
